<h1>井上のAjaxApp</h1>
<%= form_with url: "/post", method: :post, id: "form" do |f| %>
  <%= f.text_field :content %>
  <%= f.submit '投稿する', id: "submit" %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
    <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
